* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}
.sub-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 50px;
}

.top {
  position: absolute;
  background-color: #e5bf53;
  height: 50%;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.top-text {
  /* border: 2px solid red; */
  margin-right: 50px;
  text-align: start;
  width: 50%;
}

.top-text span {
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}

.top p {
  font-size: 50px;
  /* margin-left: 50px; */
}

.bottom {
  position: absolute;
  background-color: #5185e5;
  height: 50%;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  bottom: 0;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: start;
}

.bottom-text {
  margin-right: 50px;
  text-align: start;
  width: 50%;
  /* border: 2px solid red; */
}

.bottom-text span {
  font-weight: 900;
  font-size: 50px;
  color: #d8dfe1;
}

.left {
  height: 700px;
  width: 35%;
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  background-color: #d8dfe1;
  color: black;
  padding: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}
form .top-input {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: start;
  padding: 15px;
  margin-top: 40px;
}

.top-input input {
  height: 50px;
  width: 250px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
}

.top-input button {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #5185e5;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  /* border: 2px solid rebeccapurple; */
}
.input-group .radio {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.input {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  /* border: 2px solid red; */
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 50px;
  /* border: 2px solid red; */
}

.icons i {
  font-size: 25px;
  cursor: pointer;
  height: 30px;
  width: 50px;
  color: white;
}
.edit {
  background-color: #5185e5;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.delete {
  background-color: red;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
