* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: #111;
  padding: 20px;
}

.sub-container {
  position: relative;
  height: 100%;
  background: #e5bf53;
  border-radius: 25px;
  overflow: hidden;
}

.top {
  height: 50%;
  background: #e5bf53;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;
}

.top-text span {
  font-size: 100px;
  font-weight: 900;
}

.top-text p {
  font-size: 55px;
}

.bottom {
  height: 50%;
  background: #5185e5;
  padding: 40px;
  display: flex;
  justify-content: end;
  text-align: end;
}

.bottom-text span {
  font-size: 55px;
  font-weight: 900;
  color: #d8dfe1;
  text-align: end;
}

/* LEFT CARD */
.left {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 40%;
  background: #d8dfe1;
  border-radius: 12px;
  padding: 50px;
}

.top-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.top-input input {
  flex: 1;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  height: 40px;
  outline: none;
  margin-top: 50px;
}

.top-input button {
  background: #5185e5;
  border: none;
  color: white;
  padding: 0 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  width: 120px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 500px;
  white-space: nowrap;
  overflow-y: auto;
}

.task-list::-webkit-scrollbar {
  display: none;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 15px;
  border-radius: 8px;
}

.input {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 10px;
}

.edit,
.delete {
  height: 40px;
  width: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  background: #5185e5;
}

.delete {
  background: red;
}

.icons i {
  color: white;
  cursor: pointer;
}

.input span {
  font-size: 30px;
  font-weight: 300;
}

.input input[type="checkbox"] {
  height: 20px;
  width: 20px;
}
